html {
    font-family: 'Courier New', Courier, monospace;
    box-sizing: border-box;
}

.newbutton {
    margin: 64px;
    background-color: coral;
    color: white;
    border-radius: 4px;
    text-transform: uppercase;
    border: none;
    cursor: pointer;
    width: 200px;
    height: 50px;
    line-height: 50px;
    vertical-align: middle;
    font-weight: 700;
}

.newbutton:hover {
    color: darkcyan;
}

#Layer_1 {
    width: 32px;
    height: 32px;
    fill: white;
    vertical-align: middle;
}

#Layer_1:hover {
    fill: green;
}