* {
    box-sizing: border-box;
  }
  
  .page {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }
  
  .header {
    height: 40px;
    background: yellow;
    display: flex;
    align-items: center;
  }
  
  .nav-list {
    display: flex;
    margin: 0;
    padding: 0;
  }
  
  li {
    list-style-type: none;
  }
  
  .nav-item {
    margin-left: 16px;
  }
  
  .content {
    flex-grow: 1;
    display: flex;
  }
  
  .dashboard {
    background-color: pink;
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .sidebar {
    width: 200px;
    background: grey;
  }
  
  .news {
    margin: 0;
    padding: 0;
  }
  
  .news-header {
    text-align: center;
    margin: 16px 0;
  }
  
  .news-item {
    line-height: 40px;
    margin-left: 16px;
  }
  
  .footer {
    display: flex;
    height: 40px;
    background: green;
  }
  
  .footer-text {
    margin: auto;
  }