* {
    box-sizing: border-box;
    z-index: 1;
}

.header {
    position: fixed;
    width: 100%;
    background-color: darkturquoise;
    height: 40px;
z-index: 2;
}

.navigation {
    display: inline-block;
margin-top: 0px;
}

.nav-item {
    height: 40px;
    display: inline-block; 
    margin-left: 16px;
    color: white;
    vertical-align: middle;
    margin-top: 0px;
}

.content {
    position: absolute;
    width: 100%;
    background-color: beige;
    height: 5000px;
}

.head {
    width: 200px;
    height: 200px;
    background-color: aquamarine;
    position: relative;
    left: calc(45%);
    
    top: 3%;
  
}

.ear {
    width: 40px;
    height: 60px;
    background-color: brown;
}

.eye {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: gray;
}

.ear_right {
    position: relative;
    bottom: 30%;
    left: 20%;
    float: right;
}

.ear_left {
    position: relative;
    bottom: 30%;
    right: 20%;
    float: left;
}

.eye_right {
position: relative;
top: 40%;
float: right;
}

.eye_left {
position: relative;
top: 40%;
float: left;
}