* {
    box-sizing: border-box;
    margin: 0px;
}

.image {
    height: 200px;
    width: 200px;
    background-size: contain;
    background-repeat: no-repeat;
    display: inline-block;
    margin: 16px;
    margin-top: 15.8px;
    margin-right: 11px;
    border: 1px dotted grey;
    background-position: center;
}